<!DOCTYPE html>
<!-- CSCE 315-900-3 -->

<html>
    <head>
        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>

        <script>
            function changeTheme() {
                var style = document.getElementsByTagName("link")[0]; 

                if (style.getAttribute("href") == "{{url_for('static', filename='css/style.css')}}") {
                    style.setAttribute("href", "{{url_for('static', filename='css/contrast.css')}}"); 
                    localStorage.setItem("sheet", "{{url_for('static', filename='css/contrast.css')}}");
                } else { 
                    style.setAttribute("href", "{{url_for('static', filename='css/style.css')}}"); 
                    localStorage.setItem("sheet", "{{url_for('static', filename='css/style.css')}}");
                }
            }

            window.onload = function() {
                if (localStorage.getItem("sheet") == "{{url_for('static', filename='css/style.css')}}" || localStorage.getItem("sheet") == "{{url_for('static', filename='css/contrast.css')}}") {
                    document.getElementsByTagName("link")[0].setAttribute("href", localStorage.getItem("sheet"));
                } else {
                    document.getElementsByTagName("link")[0].setAttribute("href", "{{url_for('static', filename='css/style.css')}}");
                }
            }

            function addNewWord() {
                console.log("here");
                var data_len = document.getElementById("length-data").getAttribute("data-len");

                const label_1 = document.createElement("label");
                label_1.for = "word-" + data_len;
                label_1.innerHTML = "Word:";
                
                const input_1 = document.createElement("input");
                input_1.type = "text";
                input_1.id = "word-" + data_len;
                input_1.name = "word-" + data_len;
                input_1.value = "New Word";

                const label_2 = document.createElement("label");
                label_2.for = "def-" + data_len;
                label_2.innerHTML = "Definition:";
                
                const input_2 = document.createElement("input");
                input_2.type = "text";
                input_2.id = "def-" + data_len;
                input_2.name = "def-" + data_len;
                input_2.value = "New Definition";

                const line_break1 = document.createElement("br");
                const line_break2 = document.createElement("br");
                const line_break3 = document.createElement("br");

                let myForm = document.getElementById("outer-form");
                let myButton = document.getElementById("submit-button");
                myButton.before(label_1);
                myButton.before(input_1);
                myButton.before(line_break1);
                myButton.before(label_2);
                myButton.before(input_2);
                myButton.before(line_break2);
                myButton.before(line_break3);

                document.getElementById("length-data").setAttribute("data-len", data_len + 1);
                
            }
        </script>

    </head>

    <body>
        <header>
            <a href = "/index"><img src = "{{url_for('static', filename='img/Logo.png')}}" alt = "About"></a>

            <div class = "navigation">
                <a href = "/folders">My Folders</a>
                <a href = "/uploadimage">Upload</a>
            </div>
        </header>   

        <article>
            <div class = main>
                <meta id="length-data" data-len = "{{data|length}}">
                <form action = "{{ url_for('confirmEdit', folderName=fName) }}" method="post" id="outer-form">
                    {%for (word, def) in data%}

                        <label for="word-{{loop.index0}}">Word:</label>
                        <input type="text" id="word-{{loop.index0}}" name="word-{{loop.index0}}" value="{{word}}"><br>

                        <label for="def-{{loop.index0}}">Definition:</label>
                        <input type="text" id="def-{{loop.index0}}" name="def-{{loop.index0}}" value="{{def}}"><br><br>

                    {%endfor%}
                    <input name="item_fn" value="{{fName}}" style="display: none;">

                    <input  id = "submit-button" type="submit" value="Submit">
                </form>
                
                <button onclick = "addNewWord()">Add New</button>
            </div>

        </article>


        <footer>
            <p>CSCE 315 Section 900 Team 3</p>
            <button onclick = "changeTheme()" class = "btn" style = "margin-bottom: 16px">Accessibility Mode</button> 
        </footer>
    </body>
</html>

<!--<button type="button" class = "folder_btn" role="button">Folders</button>-->