<!DOCTYPE html>
<!-- CSCE 315-900-3 -->

<html>
    <head>
        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>

    </head>

    <body>

        <div class="folder_name_title">
            <p class = "fn_title">{{fold_n}}</p>
        </div>

        <div class = "navigation">
            <a id = "name" href = "/index"><img src = "{{url_for('static', filename='img/Logo.png')}}" alt="CardMe (Home)"></a>
            <div class = "right_navigation">
                <a href = "/folders">My Folders</a>
                <a href = "/uploadimage">Upload</a>
            </div>
        </div>

        <div class = main>
            <p>
                (flashcards page)
                <form action = "/flashcards" method = "post">
                    <button name = "demoBTN" type = "submit">DEMO</button>
                </form>

                <div class = "flashcards-pane">
                {%for (word, definition, link) in data%}
                <div class="single-card">
                    <input type="checkbox" class = "input-wraper" id="id-{{loop.index0}}">
                    <label for="id-{{loop.index0}}" class = "flip-pane">
                    <div class="card-data" onclick="changeText(this)">
                            <div class="word" style="display: grid">
                                {{word}}
                            </div>
                            <div class="def" style="display: none;">
                                {{definition}}
                            </div>
                    </div>
                    </label>
                    <a href="{{link}}" target="_blank"> Learn More</a>
                </div>

                {%endfor%}
                </div>
            </p>
        </div>

        <div class = footer>
            <p>CSCE 315 Section 900 Team 3</p>
        </div>
        <script>
            function changeText(elem) {
                setTimeout(function() {
                    if (elem.getElementsByClassName("word")[0].style.display == "none") {
                        elem.getElementsByClassName("word")[0].style.display = "grid";
                        elem.getElementsByClassName("def")[0].style.display = "none";
                    }
                    else {
                        elem.getElementsByClassName("word")[0].style.display = "none";
                        elem.getElementsByClassName("def")[0].style.display = "grid";
                    }
                }, 270)
            }
        </script>
    </body>
</html>