<!DOCTYPE html>
<!-- CSCE 315-900-3 -->

<html>
    <head>
        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>
    </head>

    <body>
        <div class = "navigation">
            <a id = "name" href = "/index">CardMe</a>
            <a href = "/folders">My Folders</a>
        </div>

        <div class = main>
            <p>
                (flashcards page)
            </p>
        </div>

        <div class = footer>
            <p>CSCE 315 Section 900 Team 3</p>
        </div>
    </body>
</html>