<!DOCTYPE html>
<!-- CSCE 315-900-3 -->

<html>
    <head>
        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>
    </head>

    <body>
        <div class = "navigation">
            <a id = "name" href = "/index"><img src = "{{url_for('static', filename='img/Logo.png')}}" alt="CardMe (Home)"></a>
            <div class = "right_navigation">
                <a href = "/folders">My Folders</a>
                <a href = "/uploadimage">Upload</a>
            </div>
        </div>

        <div class = main>
            <p>
                (folders page)
                <a href="/flashcards">(Test Flashcards Link)</a>
            </p>
        </div>

        <div class = footer>
            <p>CSCE 315 Section 900 Team 3</p>
        </div>
    </body>
</html>