<!DOCTYPE html>
<!-- CSCE 315-900-3 -->

<html>
    <head>
        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>
    </head>

    <body>
        <div class = "navigation">
            <a id = "name" href = "/index">CardMe</a>
            <a href = "/folders">My Folders</a>
        </div>

        <div class = main>
            <p>
                Flashcards are formatted in the following format: (Term 1) * (definition 1); (Term 2) * (definition 2); ...
            </p>
            <h1>API's used:</h1>
            <ul>
                <li>API 1</li>
                <li>API 2</li>
                <li>API 3</li>
            </ul>

            

        </div>

        <div class = "button" >

                <a href = "{{ url_for('upload_image') }}">Folders</a>

        </div>

        <div class = footer>
            <p>CSCE 315 Section 900 Team 3</p>
        </div>
    </body>
</html>

<!--<button type="button" class = "folder_btn" role="button">Folders</button>-->