<!DOCTYPE html>
<!-- CSCE 315-900-3 -->

<html>
    <head>
        <link id = "theme" rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/style.css')}}"/>
        <script type="text/javascript" src = "./functions.js"></script>
    </head>

    <body>
        <div class = "navigation">
            <a id = "name" href = "/index">CardMe</a>
            <a href = "/folders">My Folders</a>
        </div>

        <div class="main">
          <div class="row">
            <div class=" col">
        
              <h1>Upload an image</h1>
              <hr>
        
              <form action="/upload-image" method="POST" enctype="multipart/form-data">
        
                <div class="form-group">
                  <label>Select image</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="image">
                    <!-- <label class="custom-file-label" for="image">Select image...</label> -->
                  </div>
                </div>
        
                <button type="submit" id = "uploadbtn" class="btn-primary" onclick="promptFunction()">Upload</button>

              </form>

              <script type = "text/javascript">

                function addNew(text){
                    var h = document.createElement("div");
                    //var t = document.createTextNode(text);
                    h.innerHTML += text;
                    h.style.width = "5em";
                    h.style.height = "2em";
                    h.style.border = "1px solid black";
                    h.style.textAlign = "center";
                    h.style.marginBottom = "1px";

                    var page = document.createElement("html");
                    document.body.appendChild(page);

                    document.body.appendChild(h);
                }

                function promptFunction(){
                    var x;
                    var name=prompt("Please enter a folder name","Folder name");
                    if (name!=null){
                      var x = addNew(name);
                    }
                }

                /*function addNew(){
                  const newdiv = document.createElement("div");
                  console.log("add");
                  //newdiv.classList.add('div-shadow');
                  newdiv.style.width = "5em";
                  newdiv.style.height = "2em";
                  newdiv.style.border = "1px solid black";
                  //newdiv.style.margin: "0 1em 1em 0";
                  newdiv.style.marginBottom = "1px";
                  document.body.appendChild(newdiv);
                  
                  localStorage.setItem("wasPageRefreshed" , true);

                }

                if(localStorage.getItem("wasPageRefreshed")){
                    addNew();
                    localStorage.setItem("wasPageRefreshed" , false);
                }*/


              </script>

              <div id='info_section'>
                  <p>{{ data }}</p>
              </div>
        
            </div>
          </div>
        </div>

        <div class = footer>
            <p>CSCE 315 Section 900 Team 3</p>
        </div>

        <!-- <script type="module">
          // Import the functions you need from the SDKs you need
          import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
          import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-analytics.js";
          // TODO: Add SDKs for Firebase products that you want to use
          // https://firebase.google.com/docs/web/setup#available-libraries
        
          // Your web app's Firebase configuration
          // For Firebase JS SDK v7.20.0 and later, measurementId is optional
          const firebaseConfig = {
            apiKey: "AIzaSyCoHyLPJuD_z_Lz6qYJnGq65MQV0Gpp1TE",
            authDomain: "csce315project3-180df.firebaseapp.com",
            databaseURL: "https://csce315project3-180df-default-rtdb.firebaseio.com",
            projectId: "csce315project3-180df",
            storageBucket: "csce315project3-180df.appspot.com",
            messagingSenderId: "448440336363",
            appId: "1:448440336363:web:4cbfad66511db6c4f723ae",
            measurementId: "G-WKRJLR4MH1"
          };
        
          // Initialize Firebase
          const app = initializeApp(firebaseConfig);
          const analytics = getAnalytics(app);
        </script> -->


    </body>
</html>